//Mixins
transition()
	-webkit-transition arguments 
	-moz-transition arguments 
	-ms-transition arguments 
	-o-transition arguments 
	transition arguments 
border-radius()
	-webkit-border-radius arguments 
	border-radius arguments
filter()
	filter arguments
	-webkit-filter arguments
	-moz-filter arguments
	-o-filter arguments
	-ms-filter arguments

//Vars
$white = #fff
$grey-white = #eee
$red = #ff5252

$dark-grey = #263238
$grey = #37474F
$light-grey = #9E9E9E
$border-grey = rgba(119, 119, 119, 0.12)

$transp-grey = rgba(38, 50, 56, 0.35)