template(name="aside")
	.dark
	aside.content__side
		.content__side__header
		.content__side__server
			select.content__side__server__select#select-server
				option(value="br") Brasil
				option(value="eune") EU Nordic & East
				option(value="euw") EU West
				option(value="kr") Republic of Korea
				option(value="lan") Latin America North
				option(value="las") Latin America South
				option(value="na") North America
				option(value="oce") Oceania
				option(value="ru") Russia
				option(value="tr") Turkey
		.content__side__links
			.content__side__links__item
				img(src="/icons/home.png").content__side__links__item__icon
				a(href="/").content__side__links__item__link Home

template(name="right")
	aside.content__right