@import '../vars-mixins'
.dark
	display none
	background black
	opacity 0.5
	position fixed  
	top 0
	bottom 0
	right 0
	left 0
	z-index 4
	&.isOpen
		display block
.content__side
	float left
	width 300px
	position fixed
	top 0
	bottom 0
	float left
	background $main-dark
	background-size cover
	depth(3)
	transition(margin 0.2s)
	transform(translate3d(0,0,0))
	speedFix()
	z-index 5
	margin-left -300px
	overflow auto
	&.isOpen
		margin-left 0px
	&__header
		speedFix()
		background $red
		height 55px
		width 100% 
	&__server
		speedFix()
		&__select
			speedFix()
			width 100% 
			background $main-dark
			border-bottom 1px solid $border-grey
			.select2-choice
				color $white
				font-weight 300
				height 48px
				line-height 48px
				padding 0 10px
				font-size 18px   
				border-radius(0) !important
				border none
				background $main-dark
				.select2-arrow
					border none
					border-radius(0)
					background $main-dark
					width 30px
					b
						background url('icons/down.svg') no-repeat
						height 100%
						background-position center
	&__links
		speedFix()
		clear both 
		&__item
			speedFix()
			background transparent //$red
			border-bottom 1px solid $border-grey
			height 48px
			transition(all 0.2s)
			&:hover
				background  $main-light
				transition(all, 0.2s)
			&__icon
				speedFix()
				width 32px
				margin 8px
				float left
			&__link
				speedFix()
				float left
				display block
				width 165px
				height 48px
				line-height 48px
				color $white
				font-weight 300
				&:hover
					color $white
.select2-drop
	background $main-dark
	color $white
	border none
	border-radius(0)
	.select2-result
		height 36px
		line-height 36px
		border-bottom 1px solid $border-grey
		vertical-align middle
		padding 0 10px 
		.select2-result-label
			height 36px
			line-height 36px
			vertical-align middle
			padding 0
			font-weight 200