template(name="postSubmit")
	.addPost
		label.addPost__title Adicionar conteúdo
		.addPost__field
			label.addPost__field__label Titúlo
			input.addPost__field__input(type='text')
		.addPost__editor
		button(type="").addPost__add Publicar conteúdo
		.addPost__modal
			p.addPost__modal__text Confirmar envio?
			a.addPost__modal__btn.confirm Confirmar
			a.addPost__modal__btn.cancel Cancelar