@import '../vars-mixins'

.content__body__home
	min-width 320px 
	max-width 1200px
	margin 0 auto
	margin-top 56px
	padding 20px 10px
	&__article
		depth(0)
		background $main-dark
		cursor default
		margin-bottom 20px
		&__header
			padding 5px 10px
			border-bottom 1px solid $border-grey
			&__title
				display block
				text-align left
				font-size 18px 
				font-weight 400 
				line-height 20px
				color $gold
				transition(all 0.4s)
				&:hover
					color $light-grey
		&__body
			padding-bottom 10px
			border-bottom 1px solid $border-grey
			max-height 480px
			overflow hidden
		&__freeweek
			cursor pointer
			overflow hidden
			padding 5px
			&__champion
				width 20% 
				float left
				overflow hidden
				margin 5px 0
				&__name
					color $white
					position absolute
					z-index 1
					bottom 0px
					left 1px
					right 1px
					width 90%
					margin auto
					background $transp-grey
					text-align center
					font-size 12px
					font-weight 200 
				&__image
					width 90% 
					display block
					margin 0 auto
		&__featured
			overflow hidden
			padding 5px
			&__player
				cursor pointer
				width 20% 
				float left
				overflow hidden
				margin 5px 0
				&__name
					color $white
					position absolute
					z-index 1
					bottom 0px
					left 1px
					right 1px
					width 90%
					margin auto
					background $transp-grey
					text-align center
					font-size 12px
					font-weight 200 
				&__gametype
					color $white
					bottom 0px
					left 1px
					right 1px
					width 90%
					margin auto
					background $transp-grey
					text-align center
					font-size 12px
					font-weight 200 
				&__icon
					border-radius(50%)
					width 90% 
					display block
					margin 0 auto