template(name="home")
	.content__body__home
		.content__body__home__article
			.content__body__home__article__header
				h3.content__body__home__article__header__title Featured Games
				.content__body__home__article__header__selector
					each getFeatureds
						.dot(class="{{isActive}}")
			.content__body__home__article__featured
					+featured
		.content__body__home__article
			.content__body__home__article__header
				h3.content__body__home__article__header__title Free Week
			.content__body__home__article__freeweek
				each getFreeweek
					+freeweek

template(name="featured")
	.featured 
		.featured__blue
			each getBlueTeam getFeatured.participants
				a(href='/summoner/br/{{name}}')
					.featured__blue__player
						if getKey championId
							img(src="data/champion/{{getKey championId}}.png").featured__blue__player__icon
						p.featured__blue__player__name {{summonerName}}
						p.featured__blue__player__ranked {{getRankedInfo}}
		.featured__divisor
		.featured__purple
			each getPurpleTeam getFeatured.participants
				a(href='/summoner/br/{{name}}')
					.featured__purple__player
						if getKey championId
							img(src="data/champion/{{getKey championId}}.png").featured__purple__player__icon
						p.featured__purple__player__name {{summonerName}}
						p.featured__purple__player__ranked {{getRankedInfo}}
		.featured__footer
			a(href="/summoner").featured__footer__matchInfo.ripplelink Match Info

template(name="freeweek")
	.content__body__home__article__freeweek__champion
		p.content__body__home__article__freeweek__champion__name {{name}}
		img(src="data/champion/{{key}}.png").content__body__home__article__freeweek__champion__image