@import '../vars-mixins'

.content__body__home, .content__body__summoner
	min-width 320px 
	max-width 1080px
	margin 0 auto
	margin-top 56px
	padding 10px 5px
	&__article
		depth(0)
		background $main-dark
		cursor default
		margin-bottom 10px
		border-radius(2px)
		&__header
			padding 5px 10px
			border-bottom 1px solid $border-grey
			overflow hidden
			&__title
				display block
				text-align left
				font-size 18px 
				font-weight 400 
				line-height 20px
				color $gold
				transition(all 0.4s)
				width 50%
				float left
			&__selector
				float right
				overflow hidden
				.dot
					width 20px
					height 20px
					margin 0 3px
					float left
					background $transp-grey
					border 1px solid $border-grey
					text-align center
					border-radius(50%)
					cursor pointer
					transition(all 0.2s)
					&.active
						background $main-light
						border 1px solid $transp-white
		&__body
			padding-bottom 10px
			border-bottom 1px solid $border-grey
			max-height 480px
			overflow hidden
		&__freeweek
			cursor pointer
			overflow hidden
			padding 5px
			&__champion
				width 20% 
				float left
				overflow hidden
				margin 5px 0
				&__name
					color $white
					position absolute
					z-index 1
					bottom 0px
					left 1px
					right 1px
					width 90%
					margin auto
					background $transp-grey
					text-align center
					font-size 12px
					font-weight 200 
				&__image
					width 90% 
					display block
					margin 0 auto
		&__featured
			clear both
			width 100% 
		& .featured
			overflow hidden
			padding 5px
			width 100%
			margin 5px auto
			&__divisor
				width 1px
				position absolute
				top 5px
				bottom 25px
				left 0
				right 0
				margin auto 
				background $border-grey
				&:before, &:after
					content ''
					position absolute
					left -20px
					right -20px
					width 40px
					height 1px  
					background $border-grey
					margin auto
				&:after
					bottom -1px
				&:before
					top -1px
			&__blue, &__purple
				width 49%
				&__player
					overflow hidden
					padding 0px
					margin 5px 0
					background $border-grey
					&__icon
						margin 5px 4px
						width 23%
						display block
						border-radius(50%)
					&__name
						margin-top 8px
						display block
						font-size 12px
						overflow hidden
						-ms-text-overflow ellipsis 
						text-overflow ellipsis 
						width 71% 
						color $white 
						font-weight 300 
					&__ranked
						font-size 9px 
						width 71%
						position absolute
						bottom 8px
						color $white 
						text-align center
						opacity 0.7
						font-weight 200 
						 
			&__blue
				float left
				&__player
					&__icon
						float right
						clear right
					&__name, &__ranked
						text-align right
						float left
						clear left
					&__ranked
						left 0
			&__purple
				float right
				&__player
					&__icon
						float left
						clear left
					&__name, &__ranked
						text-align left
						float right
						clear right
					&__ranked
						right 0
			&__footer
				clear both
				width 100% 
				height 20px 
				overflow hidden
				&__matchInfo
					color $gold
					float right
					line-height 20px
					font-size 14px
					margin-right 5px
					transition(all 0.2s) 
					&:active
						color $white