@import '../vars-mixins'

.content__body__home
	&__article
		depth(1)
		border-radius(2px)
		background $white
		padding 10px 20px
		margin-bottom 20px
		cursor default
		&__header
			&__title
				text-align left
				font-size 18px 
				font-weight 600 
				line-height 20px
				color $dark-grey
				transition(all 0.4s)
				&:hover
					color $light-grey
			&__date 
				color $light-grey
				line-height 20px
				text-align right
		&__body
			padding-bottom 10px
			border-bottom 1px solid $border-grey
			p
				text-align justify
				color $grey
				font-size 14px
				margin 10px 0
			img
				border-radius(2px)
				margin 0 auto
				display block
				width 100% !important
				max-width 1080px 
				min-width 300px
				padding-bottom 10px
			&__freeweek
				width 100%
				overflow hidden 
				margin-bottom 10px
				text-align center
				&__champ
					overflow hidden
					display inline-block
					width 20%
					@media (min-width: 320px) and (max-width: 560px)
						width 31%
						margin 0 1%
					&__img
						width 100%
					&__name
						width 100%
						height 20px
						background black
						padding 0
						line-height 20px
						color $white
						position absolute
						bottom 0
						text-align center