@import '../vars-mixins'

.profile
	margin -10px
	&__header
		width 100% 
		height 300px
		background $white
		background-size cover
		background-position center
		&__avatar
			position absolute
			width 150px
			margin-left 30px
			bottom -15%
			border-radius(3px)
			border 5px solid $border-grey
			z-index 1
			overflow hidden
			&__img
				width 100%
			&__edit
				background-image url('/icons/edit.png')
				bottom 5px
				right 5px
				width 32px
				height 32px 
				filter(invert(100%))
				position absolute
				background-size 80%
				background-position center
				background-repeat no-repeat
				background-color $light-grey
				depth(1)
				border-radius(100%)
				opacity 0.3
				transition(all 0.5s)
				&:hover
					opacity 1  
		&__info
			height 30px
			background $transp-grey
			top 270px
			color $white
			&__name
				margin-left 180px
				line-height 30px
				text-transform capitalize 
				padding 0 10px
		&__controls
			position absolute
			top 0
			right 0
			bottom 0
			width 60px
			&__change
				transition(all 0.4s)
				cursor pointer
				height 60px
				width 60px
				margin-top 240px
				background-image url('http://www.icon2s.com/wp-content/uploads/2013/07/black-white-metro-edit-image-icon.png')
				background-size 90%
				background-repeat no-repeat
				opacity 0
	&__body
		background $white
		padding 20px
		margin 20px
		&__title
			margin-top -20px
			margin-left 150px
			font-size 18px 
			font-weight 600 
		
@media (min-width: 320px) and (max-width: 560px)
	.profile
		&__header
			height 200px
			&__avatar
				width 130px
				margin-left 15px
			&__info
				top 170px
				&__name
					margin-left 145px
			&__controls
				&__change
					margin-top 140px
		&__body
			padding 10px
			margin 10px
			&__title
				margin-top -10px
				margin-left 130px


.profile__modal__avatar
	transition(all 1s)
	modal()
	height 420px
	max-width 400px
	width 90% 
	min-width 240px
	top -3000px
	transition(all 0.4s)
	padding-top 0
	&__header
		&__title
			font-size 16px
			font-weight 600
			line-height 30px
			color $dark-grey
	&__body
		&__label
			line-height 30px
			background $light-teal
			color $white
			padding 0 10px
			border-radius(2px)
			depth(1)
			transition(all 0.4s)
			cursor pointer
			margin-bottom 10px
			&:hover
				depth(2)
		&__upload
			visibility hidden
			height 0px
		&__crop
			height 300px
			&__img
				height 300px
				margin 0 auto
				display block
		&__btn
			text-align center
			&__save, &__cancel
				border none
				line-height 30px
				color $white
				padding 0 10px
				border-radius(2px)
				depth(1)
				transition(all 0.4s)
				cursor pointer
				margin 10px 20px
				display inline-block
				&:hover
					depth(2)
			&__cancel
				background $red 
			&__save
				background $blue
			