template(name="action")
	header.action
		button.action__menu(type="button" role="button" aria-label="Toggle Navigation")
			span.lines
		.action__logo
			h1.action__logo__title Gankei
		form.action__search
			.back
			input.action__search__input.name(type='text' name='name' required)
			span.highlight
			span.bar
			label.action__search__label Nome de Invocador
			.close
		.action__searchBtn

		