@import '../vars-mixins'

.header
	height 64px
	width 100% 
	background $white
	border-bottom 1px solid $border-grey
	position fixed
	z-index 100
	depth(1)
	&__menu
		float left
		border none
		background transparent 
		z-index 1 
		display inline-block
		height 64px
		width 48px
		transition(all 0.6s)
		cursor pointer
		border-radius(2px)
		outline none
		&:hover
			opacity 1 
			.lines
				&:before
					top 8px
				&:after
					top -8px
		.lines
			line()
			position relative
			&:before, &:after
				line()
				position absolute
				left 0
				content ''
				transform-origin: 2px center
			&:before
				top 7px
			&:after
				top -7px
	&__menu.isOpen
		transform(scale(.8))
		.lines
			transform(rotate(360deg))
			&:before, &:after
				top 0
				width 20px
			&:before
				transform(rotate3d(0,0,1,40deg))
			&:after
				transform(rotate3d(0,0,1,-40deg))
	&__logo
		height inherit
		width 120px
		float left
		border-left 1px solid $border-grey
		&__title
			font-size 24px 
			line-height 64px
			text-align center
			font-weight 100
	&__profile
		height 64px
		float right
		overflow hidden 
		transition(all, 0.2s)
		&__avatar
			border-left 1px solid $border-grey
			float left
			width 64px
			cursor pointer
			&__img
				width 42px
				margin 11px 
				border-radius(100%)
		&__username
			float left
			height inherit
			padding 0 10px 
			&__text
				line-height 64px
				text-align center
				vertical-align center
		&__login
			padding 0 10px
			float right
			height 64px
			cursor pointer
			&__header
				height 64px
				text-align center
				&__icon
					width 36px
					margin 14px
					margin-right 0  
					border-radius(100%)
					float left
					background $light-grey
				&__title
					float left
					line-height 64px
	&__modal
		width 180px
		height 0px
		overflow hidden 
		background $white
		border 1px solid $border-grey
		border-top none
		position absolute
		z-index 10
		right 0
		top 64px
		padding 0 10px
		transition(height 0.2s)
		&__name
			text-transform capitalize 
			font-weight 600 
		&__links
			& *
				transition(color 0.4s)
				text-align center
				color $dark-grey
				display block
				height 20px
				line-height 20px
				font-size 16px 
				&:hover
					color $red
		.login
			&__title
				font-weight 600
				text-align left
				line-height 20px
				height 20px
			&__field
				height 24px
				line-height 24px
				margin 5px 0   
				padding 0 5px
				width 100% 
			&__btn
				margin-bottom 5px
				padding 5px 10px
				width 100% 
				border solid 1px $border-grey
				color $white
			.login
				background #03a9f4
			.register
				background $red
				margin-bottom 10px