template(name="header")
	header.header
		button.header__menu(type="button" role="button" aria-label="Toggle Navigation")
			span.lines


		.header__logo
			h1.header__logo__title Gankei
		.header__profile
			if currentUser
				.header__profile__avatar
					img(src="{{avatar}}").header__profile__avatar__img
			else
				.header__profile__login
					.header__profile__login__header
						a(href="").header__profile__login__header__title Login
						img(src='/icons/login.png').header__profile__login__header__icon