template(name="login")
	form(id="login-form")
		div
			input(type="username" id="login-username")
			input(type="password" id="login-password")
			input(type="submit" id="login-button" value="Login")
	form(id="register-form")
		div
			input(type="username" id="account-username")
			input(type="password" id="account-password")
			input(type="email" id="account-email")
			input(type="submit" id="create-account" value="Register")