template(name="login")
	.loginButtons
		form#login-form.loginButtons__form
			label.loginButtons__form__label Usuário
			input(type="username")#login-username.loginButtons__form__input
			label.loginButtons__form__label Senha
			input(type="password")#login-password.loginButtons__form__input
			button(type="submit")#login-button.loginButtons__form__btn.login Efetuar login
		p.loginButtons__acc Não possui conta?
			a(href="/register" target='_top') Crie uma agora!
template(name="register")

	form#register-form.register
		div
			input(type="username")#account-username
			input(type="password")#account-password
			input(type="email")#account-email
			input(type="submit" value="Register")#create-account