@import '../vars-mixins'

.content__body
	max-width 1200px 
	margin 0 auto
	&__article
		depth(0)
		background $white
		padding 10px 20px
		@media (max-width: 540px)
			padding 10px
		margin-bottom 20px
		cursor default
		&__header
			&__title
				text-align left
				font-size 22px 
				font-weight 500 
				line-height 30px
				color $grey
			&__date 
				color $light-grey
				line-height 20px
				text-align right
				font-size 14px 
		&__body
			padding-bottom 10px
			border-bottom 1px solid $border-grey
			p
				text-align justify
				color $grey
				font-size 16px
				margin 10px 0
			img
				border-radius(2px)
				margin 0 auto
				display block
				width 100% !important
				max-width 1080px 
				min-width 300px
				padding-bottom 10px
		&__comments
			width 95%
			@media (max-width: 540px)
				width 100%
				margin 0 auto
			display block
			margin 10px auto
			&__add
				border-bottom 1px solid $border-grey
				&__label
					display block
					font-size 16px 
					line-height 20px
					margin-bottom 10px
				&__textarea
					width 100% 
					border 1px solid $border-grey
					background #eee
					height 100px
					margin-bottom 10px
					padding 5px
					outline none
					border-radius(2px)
			.comment
				margin 20px 10px
				overflow hidden	
				depth(1)
				border-radius(2px)
				&__body
					&__left
						width 100px
						float left 
						margin-right 0px
						margin-bottom -10px
						&__avatar
							border-radius(100%)
							width 80%
							margin 10%
					&__right
						&__date
							margin-top 10px
							margin-bottom -5px
							color $light-grey
							font-size 12px
							display block  
						&__text
							padding 10px
							text-align justify
						&__username
							text-transform capitalize 
							top 10px
							font-size 16px 
							color $grey
							font-weight 500 
							transition(color 0.4s)
							&:hover
								color $blue
				&__footer
					width 100%
					overflow hidden 
					clear both
					height 30px
					&__buttons
						float left
						margin-left 10px 
						& a
							float left
							margin 5px 0px
							line-height 16px
							color $grey
							padding 0 10px
							border 1px solid $border-grey
							transition(all 0.4s) 
							//depth(1)
							font-size 12px 
							&:hover
								//depth(2)
					.like, .dislike
						width 48px
						height 20px
						margin 5px 0px
						float right 
						border 1px solid $border-grey
						.icon
							width 20px
							height 20px
							float left
							margin 0 3px
							background-size contain
							cursor pointer
						.value
							border-left 1px solid $border-grey
							float left
							width 20px
							line-height 18px
							text-align center
							color $white
							font-size 12px 
					.like
						margin-right 10px
						.icon
							background-image url('/icons/like.svg')
						.value
							background $blue 
					.dislike
						.icon
							background-image url('/icons/dislike.svg')
						.value
							background $red