template(name="posts")
	each posts
		+post


template(name="post")
	.content__body__home__article
		.content__body__home__article__header
			h3.content__body__home__article__header__title Wu Kong
		.content__body__home__article__body
			p.content__body__home__article__body__text {{text}}
			img(src='/images/1.jpg').content__body__home__article__body__image--large
			p.content__body__home__article__body__text Mel eu primis inciderint. Mei fabulas albucius cu, ne eam everti imperdiet. His homero ubique ei, eu vim splendide assueverit. Te essent vulputate mea. Te eam adhuc consequat, insolens invenire ei sed, nonumy lucilius an quo.