template(name="posts")
	each posts
		+post


template(name="post")
	.content__body__home__article
		.content__body__home__article__header
			h3.content__body__home__article__header__title {{title}}
			p.content__body__home__article__header__date {{compactDate}}
		.content__body__home__article__body
			| {{{data}}}
		button.content__body__home__article__btn.remove Remover
		button.content__body__home__article__btn.edit Editar
		button.content__body__home__article__btn.comment Comentarios