@import '../vars-mixins'

.content__body__home__article
	&__btn
		depth(1)
		border-radius(2px)
		padding 5px 10px
		margin 0 5px
		margin-top 10px
		border solid 1px $border-grey
		background $light-teal 
		color $white
		transition(all 0.4s)
		outline none
		display inline-block
		&:hover
			color $white
			depth(2)