template(name="notFound")
	if user
		.content__body__article
			.content__body__article__header
				h3.content__body__article__header__title Usuário não encontrado!
			.content__body__article__body
				p Verifique se o não há errors de digitação.
